.LookupTable {
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    font-family: 'Niramit', sans-serif;
    row-gap: 15px;
    padding: 20px;
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
    letter-spacing: 1px;
}

td {
    text-align: center;
    padding: 20px;
}

